---
const personalImageAlt = "Adrian Rodriguez";
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-600 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono [&>p>strong]:text-md text-pretty order-2 md:order-1"
  >
    <p>
      Me enfoco en desarrollar aplicaciones <strong>eficientes</strong>, <strong>escalables</strong> y centradas en una <strong>experiencia de usuario moderna</strong> y bien estructurada.
      <br />
      <br />
      Destaco por mi capacidad de <strong>adaptaci贸n</strong>, <strong>pensamiento cr铆tico</strong> y enfoque en la <strong>resoluci贸n de problemas</strong>, siempre priorizando la
      escritura de <strong>c贸digo limpio</strong>, mantenible y orientado a generar <strong>valor real</strong>.
    </p>

    <p>
       <strong>Tech Stack:</strong><br />

      Frontend: <span class="text-blue-600 dark:text-blue-400">HTML5 路 CSS3 路 JavaScript 路 TypeScript</span><br />
      Backend: <span class="text-green-600 dark:text-green-400">Node.js 路 Java</span><br />
      Frameworks y librerias: <span class="text-purple-600 dark:text-purple-400">React 路 Angular 路 Astro 路Tailwind 路 Bootstrap</span><br />
      Base de datos: <span class="text-orange-600 dark:text-orange-400">MySQL 路 MongoDB</span><br />
      Herramientas: <span class="text-pink-600 dark:text-pink-400">Vite 路 Git 路 REST APIs 路 Agile</span>
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/adri.JPG"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
