---
const personalImageAlt = "Adrian Rodriguez";
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1">
    <p>
      Me llamo Adri谩n Rodr铆guez, soy <strong>Web Developer con un t铆tulo en Desarrollo de Interfaces Web</strong>. Apasionado por la tecnolog铆a y el aprendizaje continuo, me enfoco
      en construir aplicaciones eficientes, escalables y centradas en el usuario.
    </p>

    <p>
      Me destaco por mi <strong>adaptabilidad, pensamiento cr铆tico y habilidades para resolver problemas</strong>, siempre buscando crear c贸digo limpio, mantenible y con impacto.
    </p>

    <p>
       <strong>Tech Stack:</strong><br />
      <strong>Frontend:</strong> HTML5 路 CSS3 路 JavaScript 路 TypeScript 路 <br />
      <strong>Backend:</strong> Node.js 路 Java<br />
      stFrameworks y librerias: React 路 Angular 路 Tailwind 路 Bootstrap <br />
      Base de datos: MySQL 路 MongoDB<br />
      Herramientas: Vite 路 Git 路 REST APIs 路 Agile
    </p>
  </div>

  <img
    src="/public/adri.jpg"
    width="200"
    height="200"
    src="/me.png"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
